@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/Proxima\ Nova\ Regular.otf")
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/Proxima\ Nova\ Bold.otf");
}

body{
    width: 100%;
    height: 100%;
    background-color: #464f54;
    box-sizing: border-box;
}

.first-container{
    width: 100%;
    max-width: 1076px;
    height: 186px;
    box-shadow: -4px -4px 59px rgba(0, 0, 0, 0.16);
    background-color: #181818;
    padding-left: 70px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: 0;   
}

.first-container-like {
    color: white;
    border-bottom: 2px solid #767676;
    height: 90px;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 94.03px;
    text-align: left;
}

.first-container-title {
    color: #767676;
    font-family: "Proxima Nova Regular";
    letter-spacing: 6.72px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
}

.second-container {
    width: 100%;
    max-width: 976px;
    height: 46px;
    background-color: #fbc02d;
    margin-left: auto;
    margin-right: 0;
}


.third-container {
    width: 100%;
    max-width: 1360px;
    height: 695px;
    background-color: #fff;
    padding-left: 150px;
    padding-top: 160px;
    margin: auto;
    position: relative;
    top: -150px;
}

.date {
    color: #b4b4b4;
    font-family: "Proxima Nova Regular";
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 5.28px;
    text-transform: uppercase;
    margin-left: 130px;
}

.header {
    color: #2a2a2a;
    font-family: "Proxima Nova";
    font-size: 78px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    letter-spacing: 5.28px;
    text-transform: uppercase;
    margin-left: 130px;
    margin-right: 180px;
}

.header-italic {
    color: #8f8f8f;
    font-family: Georgia;
    font-size: 30px;
    font-style: italic;
    text-align: justifyLeft;
    margin-left: 130px;
    margin-right: 180px;
    margin-top: -70px;
}

.text {
    color: #000000;
    font-family: Georgia;
    font-size: 27px;
    font-weight: 400;
    line-height: 40.38px;
    text-align: justifyLeft;
    margin-left: 130px;
    margin-right: 180px;
    margin-top: 70px;
}

.italic-text {
    font-family: "Georgia - Italic";
    font-style: italic;
}

.border {
    border-left: 2px solid #8f8f8f;
    height: 855px;
    position: relative;
    top: -828px;  
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.two-containers{
    position: relative;
    z-index: 3;
}

.wrapper {
    padding: 150px 0;
    margin: 0 auto;
}




